.detailed-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.detailed-container img {
    width: 30vw;
    height: 30vh;
}
.detailed-card{
    width: 80vw;
    margin-top: 3rem;
}
.detailed-date-time-container, .detailed-available-places{
    color: #F16E00;
    font-weight: bold;
    font-size: 1.2rem;
}
.span-available-places{
    color: black;
}
.detailed-title{
    color: #F16E00;
    font-weight: bolder;
    border-bottom: 3px solid #F16E00;
}
.sign-up-activity-btn{
    background-color: white;
    border: 3px solid black;
    text-transform: uppercase;
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 1rem;
}
.content-places-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.detailed-img-description-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.qr-sign-up-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detailed-card-body-container{
    display: flex;
    justify-content: space-around;
}
.qr-sign-up-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}