.menu-categories-navbar.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}
a.menu-categories-nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}
a.menu-categories-nav-link:hover {
    color: #FF7900;
}
.paragraph-menu-categories{
    color: white;
}

.card-section-container {
    height: 100vh;
}

.card-section-categories{
    height: 57vh;
    width: 15vw;
}

@media (max-width: 988px) {
    a.menu-categories-nav-link{
        align-self: center;
        font-size: medium;
    }
}