.detailed_main {
    margin: auto;
    width: 100vw;
}
.detailed_category{
    font-weight: bolder;
    text-align: center; 
    margin: 1rem; 
}
.detailed_figcaption {
    width: 100vw;
    height: 55vh;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.detailed_image{
    width: 100vw;
    height: 100vh;
}
.detailed_container{
    width: 80vw;
    margin: 2rem auto;
}
.detailed_container__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detailed_container__section-left{
    width: 75%;
}
.detailed_container__section-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
}
.detailed_date {
    font-weight: bold;
    text-align: left;
}
.detailed_title{
    margin-top: .5rem;
}
.orange{
    color: #f58026;
}
.detailed_ContentsTitle{
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.detailed_places{
    margin-top: 1rem;
}
.detailed_ContentsList{
    margin-left: 1.5rem;
}
ul li ul li {
    margin-left: 2rem; /* Ajustar el margen entre elementos de nivel inferior */
}

.qr{
    width: 180px;
  }

  .espacioMal{
    background-color: red;
    height: 80px;
  }