@keyframes slideUpFade {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
div.happyholidays-wrapper {
    position: fixed;
    display: flex;
    bottom: 10vh;
    right: 0;
    height: auto;
    align-items: flex-end;
    overflow: visible;
}

.happyholidays-img {
    animation: slideUpFade 6s forwards;
}

@media (max-width: 900px) {
    img.happyholidays-img {
        width: 30vw;
    }
}
