.snowman-animation-container {
    position: absolute;
    top: 10%;
    right: 0;
    height: 100%;
}

.snowman-img {
    animation: slideDownFade 6s forwards;
    position: absolute;
    right: 0;
    z-index: 1;
}