
.general-container{
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 80vw;
  max-width: 400px;
  border-radius: 1.5vw;
  padding: 5vw;
}
.login-container h1 {
  margin-bottom: 15%;
  text-align: center;
  color: #FF7900;
  margin-top: 0vh;
}
.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-container input {
  padding: 2%;
  width: 100%;
  margin: 0;
  border: 0.1em solid #FF7900;
  border-radius: 0.5em;
  margin-bottom: 1vw;
  color:white;
  background-color: black;
}
.login-container button {
  padding: 3% 5%;
  background-color: #FF7900;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-bottom: 1vw;
  transition: background-color 0.3s;
}
.styled-button{
  width: 9rem;
  margin-top: 0.5rem;
}
.error-alert {
  background-color: #FF9999;
  color: #CC0000;
  padding: 1vw;
  border-radius: 0.5em;
  margin-bottom: 1vw;
  text-align: center;
}
.login-container p {
  margin-top: 0.5em;
  margin-bottom: 1vw;
  text-align: center;
  color: #F58026;
}
@media (max-width: 768px) {
  .login-container {
    width: 90vw;
    margin: 5vh auto;
  }
}