
img.goog-te-gadget-icon{
    display: none;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed img {
    display: none;
}
div#google_translate_element.google{
    color: white;
    background-color: black;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed span, .VIpgJd-ZVi9od-xl07Ob-lTBxed a{
    text-decoration: none;
    color: black
}