.admin-activity-post-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.admin-form-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.title-post-activity {
    color: white;
}

.admin-form-input {
    border-radius: 0;
    border: 0.1rem solid black;
}

.post-activity-btn {
    background-color: #ff7900;
    border-radius: 0;
    margin-top: 2rem;
    width: 50%;
    border: 0.2rem solid white;
    font-weight: 500;
    padding: 0.3rem;
}

.post-activity-btn:hover {
    background-color: #ff7900;
    color: black;
    font-weight: bold;
    border: 0.2rem solid black;
}

.formGroup {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0.3rem;
}

.span-post-activity {
    color: #ff7900;
}

.form-group-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-title{
    font-size: 1.2rem;
}
.admin-form-category-container{
    display: flex;
    flex-direction: column;
}
.activity-category-dropdown{
    padding: 0.35rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}