
.modal-content{
    border-radius: 0;
}
.modal-title.h4{
    font-weight: bold;
    font-size: 1.5rem;
    color: #ff7900;
    text-align: center;
}
.pop-up-email-input{
    width: 100%;
    border: 2px solid black;
    padding: 0.8rem;
}
.pop-up-email-p{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


.privacy-policy-container{
    display: flex;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.privacy-policy-checkbox{
    display: flex;
    align-self: start;
    margin-top: 0.3rem;
}
.pop-up-privacy-policy-link{
    display: inline-block;
}
.privacy-policy-txt{
    display: inline-block;
    margin: 0;
}
.privacy-policy-readed{
    width: 100%;
    display: inline;
    margin-left: 0.5rem;
}


.btn.btn-secondary{
    border-radius: 0;
    border: 3px solid white;
    font-weight: bold;
}
.btn.btn-primary{
    background-color: #ff7900;
    border-radius: 0;
    border: 3px solid white;
    font-weight: bold;
}