@font-face {
    font-family: "HelvNeue75";
    src: url("./HelvNeue75_W1G.woff2") format("woff2");
}

@font-face {
    font-family: "HelveticaNeue55Roman";
    src: url("./HelveticaNeueW20-55Roman.woff2") format("woff2");
}

@font-face {
    font-family: "HelveticaNeue75Bold";
    src: url("./HelveticaNeueW20-75Bold.woff2") format("woff2");
}

@font-face {
    font-family: "HelvNeue55";
    src: url("./HelvNeue55_W1G.woff2") format("woff2");
}


/*.titulo {
    font-family: 'HelvNeue75', sans-serif;
}

.subtitulo {
    font-family: 'HelveticaNeue55Roman', sans-serif;
}

.textoDestacado {
    font-family: 'HelveticaNeue75Bold', sans-serif;
}

.textoNormal {
    font-family: 'HelvNeue55', sans-serif;
}
Añadir a doc*/