.banner-container {
    position: relative;
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    background-image: url('../../../assets/imagesOdc/odc4.png');
    background-size: cover;
    background-position: center;
}
.txt-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 40vh;
    margin-right: 5rem;
    background-color: #000;
    color: white;
}
.txt-btn-banner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.banner-title {
    color: #FF7900;
    width: 14vw;
    font-size:larger;
    align-items: center;
    text-align: center;
}
.banner-txt {
    width: 14vw;
    font-size: small;
    text-align: center;
}
.learn-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    font-weight: bold;
    width: 10vw;
    height: 4vh;
    background: transparent;
    border: 3px solid black;
    align-self: center;
    margin-right: 5rem;
}


@media (max-width: 1200px) {
    .txt-btn-banner-container{
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .txt-banner-container {
        display: none;
    }
    .learn-more-btn{
        width: 10rem;
        font-weight: bolder;
        padding: 1rem;
        background-color: #FF7900;
    }
}